main {
    position: relative;
    margin-top: 25%;
    background-color:  #ffffff ;
    background-size: cover;
}

.container {
    width: 75%;
    height: 80%;
    background-color: #344D67;
    /* color: #F3ECB0; */
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    box-sizing: border-box;
    padding: 20% 5% 10% 5%;
    border: solid 10px   #6ECAAF ;
    border-radius:30px 30px;
    border-top-style: inherit;
    border-bottom-style: initial;
}

.container .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(50% - 50px);
    border: solid 5px #6ECAAF;
}


.container h1 {
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.container label {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.container input {
    width: 100%;
    margin-bottom: 20px;
}

input:focus {
    animation: shake .3s;
}

/* @keyframes shake {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
        }

    100%{
        transform: rotate(0);
    }
} */

@keyframes shake {
    25% {transform: translate(4px);}
    50% {transform: translate(-4px);}
    75% {transform: translate(4px);}
}

.container input[type="text"],
.container input[type="password"] {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px ;
}

.container input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ffffff ;
    color: #333;
    font-size: 18px;
    margin-top: 15px;
    border: solid 5px #6ECAAF;
    border-radius: 10px;
    border-top-style: inherit;
    border-right-style: initial;
}

.container a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
}

.container a:hover {
    transform: scale(1.1);
    color: #44AA99;
}

.container input[type="submit"]:hover {
    color: #44AA99;
}

.container input::placeholder {
    color: #44AA99;
}