.medicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px rgb(230, 230, 230) outset;
  margin: 20px;
  padding: 10px;
}

.imgdoc{
  width: 200px;
  height: 200px;
  
}

/* Estilos para dispositivos móviles */
@media (max-width: 390px) {
  .imgdoc{
    display: none;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 390px) {
  .medicos{
    border: 5px  #344d64 outset;
  }
}



